# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

src/canopy_scaling
src/version.c
src/canopy_scaling.dSYM*

scripts/__pycache__/*.pyc

test/__pycache__/*.pyc
test/met_data/*.csv
test/met_data/raw_data/*.dat

test/simulations/outputs/*
test/simulations/*.pdf
test/simulations/__pycache__/*.pyc
